.icon {
  all: unset;
  position: absolute;
  top: 20px;
  right: 15px;
  width: 20px;
  height: 20px;
  background: url(../../images/cross-icon.svg) no-repeat center center #1c2424;
  cursor: pointer;
  transition-duration: 0.2s; /* скорость наступления эффекта hover */
}

.icon:hover {
  transform: scale(1.5, 1.5);
}