.container {
  margin: 0 210px 0 0;
  padding: 10px;
  background-color: #171b1b;
  box-shadow: 0 0 16px rgba(255, 244, 115, .7), 0 0 8px rgba(127, 146, 146, .8);
}

.fragmentsList {
  display: grid;
  grid-template-columns: repeat(4, 83px);
  grid-template-rows: repeat(6, 83px);
  gap: 5px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.puzzleItem {
  padding: 0;
}