.fragmentsContainer {
  display: grid;
  grid-template-columns: repeat(6, 83px);
  grid-template-rows: repeat(6, 83px);
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 500px;
  height: 500px;
  background-color: #171b1b;
  box-shadow: 0 0 16px rgba(121, 146, 146, .25), 0 0 8px rgba(127, 146, 146, .25);
  list-style: none;
}

.puzzleItem {
  padding: 0;
}