.puzzleItem {
  list-style: none;
  max-height: 83px;
}

.puzzleImage {
  padding: 0;
  object-fit: contain;
  object-position: center center;
  display: block;
}

.puzzleImage__fox {
  width: 83px;
  height: 83px;
}

.puzzleImage__bear {
  width: 89px;
  height: 83px;
}