.container {
  margin: 0;
}

.puzzleImage {
  display: grid;
  /*grid-template-columns: repeat(4, 83px);*/
  /*grid-template-rows: repeat(6, 83px);*/
  margin: auto;
  padding: 0;
  /*width: 333px; !* в оригинале ширина картинки составляет 66,7% от высоты. 66,7% от 500 будет 333,3 *!*/
  /*height: 500px;*/
  /* затеняем фоновую картинку: */
  /*background: linear-gradient(rgba(23, 27, 27, .5), rgba(23, 27, 27, .5)), center / contain url(../../images/fox.jpg);*/
  box-shadow: 0 0 16px rgba(255, 244, 115, .7), 0 0 8px rgba(127, 146, 146, .8);
  list-style: none;
}

.puzzleImage__fox {
  /*display: grid;*/
  grid-template-columns: repeat(4, 83px);
  grid-template-rows: repeat(6, 83px);
  /*margin: auto;*/
  /*padding: 0;*/
  width: 333px; /* в оригинале ширина картинки составляет 66,7% от высоты. 66,7% от 500 будет 333,3 */
  height: 500px;
  /* затеняем фоновую картинку: */
  background: linear-gradient(rgba(23, 27, 27, .5), rgba(23, 27, 27, .5)), center / contain url(../../images/fox.jpg);
  /*box-shadow: 0 0 16px rgba(255, 244, 115, .7), 0 0 8px rgba(127, 146, 146, .8);*/
  /*list-style: none;*/
}

.puzzleImage__bear {
  /*display: grid;*/
  grid-template-columns: repeat(6, 74px);
  grid-template-rows: repeat(6, 70px);
  /*margin: auto;*/
  /*padding: 0;*/
  width: 445px; /* в оригинале ширина картинки составляет 66,7% от высоты. 66,7% от 500 будет 333,3 */
  height: 418px;
  /* затеняем фоновую картинку: */
  background: linear-gradient(rgba(23, 27, 27, .5), rgba(23, 27, 27, .5)), center / contain url(../../images/bear.jpg);
  /*box-shadow: 0 0 16px rgba(255, 244, 115, .7), 0 0 8px rgba(127, 146, 146, .8);*/
  /*list-style: none;*/
}